<div class="container">
    <div class="row">
        <div class="col-md-3">
          <%= render "info" %>
          <%= render "books/index" %>
        </div>
        <div class="col-md-8">
          <h2>Books</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Opinion</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>xxxxx</td>
                  <td>xxxxx</td>
                </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>