
<h2 class="mt-2">New book</h2>

<%= form_with model: Book.new do |f| %>

  <div class="form-group">
    <label for="book_title">Title</label>
    <%= f.text_field :title , class:"form-control" %>
  </div>

  <div class="form-group">
    <label for="book_body">Opnion</label>
    <%= f.text_field :body, class:"form-control" %>
  </div>

  <%= f.submit "Create Book"%>
<% end %>