<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">
      Wellcome to
      <i class="fa-solid fa-book"></i>
      <b class="font-weight-bold">Bookers!</b>
    </h1>
  </div>
</div>